<md-content flex class="list-organizations-content">
  <div class="list-organizations">
    <che-list-header che-hide-header="!listOrganizationsController.organizations || listOrganizationsController.organizations.length === 0"
                     che-input-placeholder="Search"
                     che-search-model="listOrganizationsController.organizationFilter.name"
                     che-hide-search="!listOrganizationsController.organizations || listOrganizationsController.organizations.length === 0"
                     che-add-button-title="Add Organizations"
                     che-add-button-href="#/admin/create-organization{{listOrganizationsController.parentName ? '/' + listOrganizationsController.parentName : ''}}"
                     che-hide-add="!listOrganizationsController.hasManagePermission"
                     che-delete-button-title="Delete"
                     che-on-delete="listOrganizationsController.deleteSelectedOrganizations()"
                     che-hide-delete="!listOrganizationsController.hasManagePermission || listOrganizationsController.isNoSelected"
                     che-filter-values="listOrganizationsController.namespaceLabels"
                     che-on-filter-changed="listOrganizationsController.onFilterChanged">
      <div flex="100"
           layout="row"
           layout-align="start stretch"
           class="che-list-item-row">
        <div ng-if="listOrganizationsController.hasManagePermission"
             layout="column" layout-gt-xs="row" layout-align="start center" class="che-checkbox-area">
          <div layout="row" layout-align="center center" class="che-list-item-checkbox-main">
            <md-checkbox class="che-list-item-checkbox"
                         aria-label="organization list"
                         ng-checked="listOrganizationsController.isBulkChecked"
                         ng-click="listOrganizationsController.changeBulkSelection()"></md-checkbox>
          </div>
        </div>
        <div flex hide-xs layout-gt-xs="row"
             layout-align="start center"
             class="che-list-item-details">
          <che-list-header-column flex-gt-xs="30"
                                  che-sort-value='listOrganizationsController.organizationOrderBy'
                                  che-sort-item='name'
                                  che-column-title='Name'></che-list-header-column>
          <che-list-header-column flex-gt-xs="20"
                                  che-column-title='Members'></che-list-header-column>
          <che-list-header-column flex-gt-xs="15"
                                  che-column-title='RAM CAP'></che-list-header-column>
          <che-list-header-column flex-gt-xs="20"
                                  che-column-title='Sub-Organizations'></che-list-header-column>
          <che-list-header-column flex-gt-xs="15"
                                  che-column-title='Actions'></che-list-header-column>
        </div>
      </div>
    </che-list-header>
    <che-list ng-show="listOrganizationsController.organizations">
      <organizations-item
        ng-repeat="organization in listOrganizationsController.organizations  | orderBy:listOrganizationsController.organizationOrderBy | filter:listOrganizationsController.organizationFilter"
        organization="organization"
        members="listOrganizationsController.getMembersCount(organization.id)"
        ram-cap="listOrganizationsController.getRamCap(organization.id)"
        cdvy-is-selectable="listOrganizationsController.hasManagePermission"
        ng-model="listOrganizationsController.organizationsSelectedStatus[organization.id]"
        on-update="listOrganizationsController.onUpdate()"
        cdvy-on-checkbox-click="listOrganizationsController.updateSelectedStatus()">
      </organizations-item>
    </che-list>
  </div>
</md-content>
