codenvy-nav-bar
  width 100%

  .admin-navbar-menu .navbar-section-title
    margin-top 9px
    margin-left 10px
    text-transform uppercase
    font-size 0.9em
    line-height 19px
    height 19px
    white-space nowrap

.navbar-top-dropdown
  margin-left 10px
  height 60px

.codenvy-navbar-button
  text-transform none
  font-size $submenu-font-size

.navbar-top-logo
  width 75px
